@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Montserrat:ital,wght@1,500&display=swap');

* {
    background-color: #22252d;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    
}